body {
  width: 100%;
  height: auto;
  margin: 0;
  /* background-color: black;
  color: white; */
}
h3 {
  margin: 0;
}
header {
  width: 100%;
  height: 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: #fffef5;
  box-shadow: 0px 0px 10px gray;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}
.logo {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}
.name {
  font-size: 30px;
  font-weight: bold;
  font-family: "Kaushan Script", cursive;
  color: #513c3c;
}
.logoAndName {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 10px;
}
.navBar ul li {
  list-style: none;
  display: inline;
  justify-content: center;
  align-items: center;
  margin-right: 30px;
  font-size: 20px;
  font-family: "Kaushan Script", cursive;
  cursor: pointer;
}
a {
  text-decoration: none;
  color: #513c3c;
}
main {
  width: 100%;
  height: calc(100% - 80px);
  padding-bottom: 20px;
}

.content {
  padding-top: 80px;
  padding-bottom: 30px;
  /* background-color: aqua; */
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  justify-content: center;
  align-items: center;
}
.title {
  margin: 0;
  margin-top: 30px;
  font-size: 30px;
  letter-spacing: 10px;
  word-spacing: 15px;
  text-align: center;
  font-family: "Kaushan Script", cursive;
  color: #513c3c;
  font-weight: bold;
}
.description {
  margin: 0;
  margin: 0 70px;
  font-family: "Arima", system-ui;
  font-size: 25px;
  text-align: center;
}
.card-set-1,
.card-set-2 {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 20px;
  row-gap: 35px;
}

.topic {
  margin: 0;
  margin-left: 130px;
  font-size: 30px;
  letter-spacing: 6px;
  font-family: "Kaushan Script", cursive;
  color: #513c3c;
  font-weight: bold;
  font-family: "Arima", system-ui;
}
.card {
  width: 300px;
  height: 550px;
  background-color: rgb(238, 221, 199);
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  border-radius: 5px;
}
.card img {
  width: 300px;
  height: 375px;
  object-fit: cover;
}
.card p {
  margin: 0;
  font-size: 15px;
  font-family: "Kaushan Script", cursive;
  padding: 0 10px;
}
.card button {
  margin-top: 10px;
  width: 250px;
  height: 40px;
  border-radius: 20px;
  border-style: none;
  background-color: black;
  color: white;
  font-family: "Kaushan Script", cursive;
  font-size: 20px;
}
.card-set {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  row-gap: 20px;
}
footer {
  width: 100%;
  height: 600px;
  background-color: #361500;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.footer-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.f-content {
  width: calc(100% / 3);
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  font-family: "Arima", system-ui;
  /* gap: 20px; */
}

.about {
  margin: 0;
  font-size: 15px;

  /* background-color: violet; */
}
.overview {
  margin: 0;
  font-size: 15px;

  /* background-color: yellow; */
}
.contacts {
  /* background-color: blue; */
  gap: 10px;
}
.contacts p {
  margin: 0;
  font-size: 20px;
  gap: 10px;
}
.copyright {
  color: #fffef5;
  font-size: 15px;
  text-align: center;
  margin-top: 100px;
}

#burgerbtn {
  display: none;
  color: black;
  font-size: 30px;
  cursor: pointer;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}
.menu-list {
  background-color: black;
  color: white;
  position: fixed;
  top: 0;
  right: -100%;
  width: 300px;
  height: 100vh;
  z-index: 2;
  transition: right 0.4s ease;
}

.menu {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  padding-top: 20px;
}
.closebtn {
  background-color: transparent;
  color: white;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 20px;
}
.menu ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.menu li {
  padding: 10px;
}
.menu a {
  color: white;
  text-decoration: none;
}
.menu a:hover {
  text-decoration: underline;
}

@media screen and (min-width: 0px) and (max-width: 321px) {
  .navBar {
    display: none;
  }
  #burgerbtn {
    display: block;
  }
  .menu-list.active {
    right: 0px;
  }
  #burgerbtn {
    font-size: 20px;
  }
  .name {
    font-size: 25px;
  }
  header {
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .title {
    font-size: 25px;
  }
  .description {
    font-size: 15px;
  }
  .topic {
    margin: auto;
    font-size: 20px;
    text-align: center;
  }
  footer {
    height: auto;
  }

  .footer-container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
  }

  .f-content {
    width: 100%;
    height: auto;
  }

  .about {
    font-size: 10px;
  }
  .overview {
    font-size: 10px;
  }
  .contacts {
    font-size: 20px;
  }
  .contacts p {
    font-size: 15px;
  }
  .menu-list {
    width: 200px;
  }
}
@media screen and (min-width: 321px) and (max-width: 376px) {
  .navBar {
    display: none;
  }
  #burgerbtn {
    display: block;
  }
  .menu-list.active {
    right: 0px;
  }
  #burgerbtn {
    font-size: 20px;
  }
  .name {
    font-size: 25px;
  }
  header {
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .title {
    font-size: 25px;
  }
  .description {
    font-size: 15px;
  }
  .topic {
    margin: auto;
    font-size: 20px;
    text-align: center;
  }
  footer {
    height: auto;
  }

  .footer-container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
  }

  .f-content {
    width: 100%;
    height: auto;
  }

  .about {
    font-size: 10px;
  }
  .overview {
    font-size: 10px;
  }
  .contacts {
    font-size: 20px;
  }
  .contacts p {
    font-size: 15px;
  }
}
@media screen and (min-width: 376px) and (max-width: 426px) {
  .navBar {
    display: none;
  }
  #burgerbtn {
    display: block;
  }
  .menu-list.active {
    right: 0px;
  }
  #burgerbtn {
    font-size: 20px;
  }
  .name {
    font-size: 25px;
  }
  header {
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .title {
    font-size: 25px;
  }
  .description {
    font-size: 15px;
  }
  .topic {
    margin: auto;
    font-size: 20px;
    text-align: center;
  }
  footer {
    height: auto;
  }

  .footer-container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
  }

  .f-content {
    width: 100%;
    height: auto;
  }

  .about {
    font-size: 10px;
  }
  .overview {
    font-size: 10px;
  }
  .contacts {
    font-size: 20px;
  }
  .contacts p {
    font-size: 15px;
  }
}
@media screen and (min-width: 426px) and (max-width: 769px) {
  .navBar {
    display: none;
  }
  #burgerbtn {
    display: block;
  }
  .menu-list.active {
    right: 0px;
  }
  #burgerbtn {
    font-size: 25px;
  }
  .name {
    font-size: 25px;
  }
  header {
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .title {
    font-size: 30px;
  }
  .description {
    font-size: 20px;
  }
  .topic {
    margin: auto;
    font-size: 30px;
    text-align: center;
  }
  footer {
    height: auto;
  }

  .footer-container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
  }

  .f-content {
    width: 100%;
    height: auto;
  }

  .about {
    font-size: 15px;
  }
  .overview {
    font-size: 15px;
  }
  .contacts {
    font-size: 25px;
  }
  .contacts p {
    font-size: 20px;
  }
}
@media screen and (min-width: 769px) and (max-width: 1025px) {
  .navBar {
    display: block;
  }
  #burgerbtn {
    display: none;
  }
  .menu-list.active {
    right: 0px;
  }
  #burgerbtn {
    font-size: 25px;
  }
  .name {
    font-size: 25px;
  }
  header {
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .title {
    font-size: 30px;
  }
  .description {
    font-size: 20px;
  }
  .topic {
    margin: auto;
    font-size: 30px;
    text-align: center;
  }
  footer {
    height: auto;
  }

  .footer-container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
  }
  .about {
    font-size: 10px;
  }
  .overview {
    font-size: 10px;
  }
  .contacts {
    font-size: 20px;
  }
  .contacts p {
    font-size: 15px;
  }
}
@media screen and (min-width: 1025px) and (max-width: 1440px) {
}
